securechildlocator-ws/src/main/resources/securechildlocator.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
WSDL contract for a Komparator Supplier service

This WSDL defines the operations provided by the Web Service,
and should not be modified.

For more information, see sections
wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:tns="http://ws.securechildlocator.tecnico.ulisboa.pt/"
        targetNamespace="http://ws.securechildlocator.tecnico.ulisboa.pt/"
        name="SecureChildLocatorWebService">

    <types>
        <xs:schema targetNamespace="http://ws.securechildlocator.tecnico.ulisboa.pt/" version="1.0" >
            <xs:element name="clear" type="tns:clear"/>

            <xs:element name="clearResponse" type="tns:clearResponse"/>

            <xs:element name="ping" type="tns:ping"/>

            <xs:element name="pingResponse" type="tns:pingResponse"/>
            <!-- NEW -->
            <xs:element name="listLocations" type="tns:listLocations"/>

            <xs:element name="listLocationsResponse" type="tns:listLocationsResponse"/>

            <xs:element name="addLocation" type="tns:addLocation"/>

            <xs:element name="imAlive" type="tns:imAlive"/>

            <xs:element name="addLocationResponse" type="tns:addLocationResponse"/>

            <xs:complexType name="addLocation">
                <xs:sequence>
                    <xs:element name="locationToAdd" type="tns:locationView" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="locationView">
                <xs:sequence>
                    <xs:element name="latitude" type="xs:string" minOccurs="0"/>
                    <xs:element name="longitude" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="addLocationResponse">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="listLocations">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="imAlive">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="listLocationsResponse">
                <xs:sequence>
                    <xs:element name="locations" type="tns:locationView" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>

            <!-- /NEW -->

            <xs:complexType name="ping">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="pingResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="clear">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="clearResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </types>

    <!--  Messages (use elements defined in the schema) -->
    <message name="clear">
        <part name="parameters" element="tns:clear"/>
    </message>
    <message name="clearResponse">
        <part name="parameters" element="tns:clearResponse"/>
    </message>
    <message name="ping">
        <part name="parameters" element="tns:ping"/>
    </message>
    <message name="pingResponse">
        <part name="parameters" element="tns:pingResponse"/>
    </message>
    <!-- NEW -->
    <message name="listLocations">
        <part name="parameters" element="tns:listLocations"/>
    </message>
    <message name="imAlive">
        <part name="parameters" element="tns:imAlive"></part>
    </message>
    <message name="listLocationsResponse">
        <part name="parameters" element="tns:listLocationsResponse"/>
    </message>
    <message name="addLocation">
        <part name="parameters" element="tns:addLocation"/>
    </message>
    <message name="addLocationResponse">
        <part name="parameters" element="tns:addLocationResponse"/>
    </message>
    <!-- /NEW -->

    <!-- Port Type (Interface) -->
    <portType name="SecureChildLocatorPortType">
        <operation name="clear">
            <input wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/clearRequest" message="tns:clear"/>
            <output wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/clearResponse" message="tns:clearResponse"/>
        </operation>
        <operation name="ping">
            <input wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/pingRequest" message="tns:ping"/>
            <output wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/pingResponse" message="tns:pingResponse"/>
        </operation>
        <!-- NEW -->
        <operation name="listLocations">
            <input wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/listLocationsRequest" message="tns:listLocations"/>
            <output wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/listLocationsResponse" message="tns:listLocationsResponse"/>
        </operation>
        <operation name="imAlive">
            <input wsam:Action="http://ws.mediator.komparator.org/Mediator/imAliveRequest" message="tns:imAlive"></input>
        </operation>
        <operation name="addLocation">
            <input wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/addLocationRequest" message="tns:addLocation"/>
            <output wsam:Action="http://ws.securechildlocator.tecnico.ulisboa.pt/SecureChildLocator/addLocationResponse" message="tns:addLocationResponse"/>
            <!-- <fault message="tns:BadProductId" name="BadProductId" wsam:Action="http://ws.supplier.komparator.org/Supplier/createProduct/Fault/BadProductId"/> -->
        </operation>

        <!-- /NEW -->
    </portType>

    <!-- SOAP/HTTP Binding -->
    <binding name="SecureChildLocatorPortSoapHttpBinding" type="tns:SecureChildLocatorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="clear">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <!-- NEW -->
        <operation name="listLocations">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="imAlive">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="addLocation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <!-- <fault name="BadProductId">
                <soap:fault name="BadProductId" use="literal"/>
            </fault> -->
        </operation>
        <!-- /NEW -->
    </binding>

    <!-- Service -->
    <service name="SecureChildLocatorService">
        <port name="SecureChildLocatorPort" binding="tns:SecureChildLocatorPortSoapHttpBinding">
            <soap:address location="http://localhost:8081/securechildlocator-ws/endpoint"/>
        </port>
    </service>

</definitions>
